* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgba(12, 67, 8, 1);
    background: -moz-linear-gradient(-45deg, rgba(12, 67, 8, 1) 0%, rgba(12, 67, 8, 1) 23%, rgba(58, 127, 53, 1) 51%, rgba(140, 189, 136, 1) 70%, rgba(201, 216, 200, 1) 88%, rgba(201, 216, 200, 1) 96%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(12, 67, 8, 1)), color-stop(23%, rgba(12, 67, 8, 1)), color-stop(51%, rgba(58, 127, 53, 1)), color-stop(70%, rgba(140, 189, 136, 1)), color-stop(88%, rgba(201, 216, 200, 1)), color-stop(96%, rgba(201, 216, 200, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(12, 67, 8, 1) 0%, rgba(12, 67, 8, 1) 23%, rgba(58, 127, 53, 1) 51%, rgba(140, 189, 136, 1) 70%, rgba(201, 216, 200, 1) 88%, rgba(201, 216, 200, 1) 96%);
    background: -o-linear-gradient(-45deg, rgba(12, 67, 8, 1) 0%, rgba(12, 67, 8, 1) 23%, rgba(58, 127, 53, 1) 51%, rgba(140, 189, 136, 1) 70%, rgba(201, 216, 200, 1) 88%, rgba(201, 216, 200, 1) 96%);
    background: -ms-linear-gradient(-45deg, rgba(12, 67, 8, 1) 0%, rgba(12, 67, 8, 1) 23%, rgba(58, 127, 53, 1) 51%, rgba(140, 189, 136, 1) 70%, rgba(201, 216, 200, 1) 88%, rgba(201, 216, 200, 1) 96%);
    background: linear-gradient(135deg, rgba(12, 67, 8, 1) 0%, rgba(12, 67, 8, 1) 23%, rgba(58, 127, 53, 1) 51%, rgba(140, 189, 136, 1) 70%, rgba(201, 216, 200, 1) 88%, rgba(201, 216, 200, 1) 96%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c4308', endColorstr='#c9d8c8', GradientType=1);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
    color: #fff;
}

.nombre {
    margin: 0;
    color: rgb(9, 124, 48);
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgb(254, 255, 254);
}

.apellido {
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #ecd139;
}


/*Estilos para Materialize, estilos no para la pagina si no para el carousel*/

.carousel {
    min-height: 400px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    /*  0 pixeles arriba y abajo, 15 a los costados */
    background: #ecd139;
}